/*DOCUMENTO CSS*/

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  
  header {
    background-color: f9fff;
    padding: 5px;
  }
  
  .navbar-brand {
    font-size: 3rem;
    color: #fff;
    font-family:cursive;

  }
  
  .nav-link {
    color: #fff;
  }
  
  .caja {
    background-image: url(../IMG/eclet\ dore\ .png);
    background-size: cover;
    height: 500px;
    display: flex;
    align-items:center;
  }

  .cta-button {
    margin-top: 10rem;
    font-family:Helvetica, sans-serif;
    font-weight: bold;
    padding-left: 50px;
  }
  
  #productos {
    padding: 40px 0;
  }
  
  #productos h2 {
    margin-bottom: 30px;
  }
  
  .card {
    margin-bottom: 20px;
  }
  
  .card-img-top {
    height: 200px;
    object-fit: cover;
  }
  
  .card-text {
    text-align:left;
    color:rgb(80, 80, 80);
  }
  
  #servicios {
    background-color: #f8f9fa;
    padding: 50px 0;
  }
  
  #servicios h2 {
    margin-bottom: 30px;
    font-style:oblique;
    text-shadow: #333;
  }
  
  #servicios h3 {
    font-size: 1.8rem;
    margin-bottom: 20px;
  }
  
  #servicios p {
    font-size: 1.2rem;
  }
  
  
  #contacto {
    padding: 50px 0;
  }
  
  #contacto h2 {
    margin-bottom: 30px;
  }
  
  .form {
    margin-bottom: 30px;
  }
  
  .form-control {
    margin-bottom: 10px;

    
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
  }
  

  